<a href="https://colab.research.google.com/github/hesamcs/AI/blob/main/NCF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

author hesam saki

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive

**read** data

In [ ]:
drive.mount('/content/gdrive', force_remount=True)
path="/content/gdrive/MyDrive/Data_HZ/papers/neural collaborative filtering/impelement/ratings.dat"
dataframe=pd.read_csv(path)
dataframe.head()

Mounted at /content/gdrive

   1::1193::5::978300760
0   1::661::3::978302109
1   1::914::3::978301968
2  1::3408::4::978300275
3  1::2355::5::978824291
4  1::1197::3::978302268

# data preprocessing

All ratings are contained in the file "ratings.dat" and are in the
following format:

UserID::MovieID::Rating::Timestamp

- UserIDs range between 1 and 6040 
- MovieIDs range between 1 and 3952
- Ratings are made on a 5-star scale (whole-star ratings only)
- Timestamp is represented in seconds since the epoch as returned by time(2)
- Each user has at least 20 ratings

ðŸ˜Ž

set columns

In [ ]:
dataframe=pd.read_csv(path,header=None,names=["user_id","item_id","rating"],usecols=[0,1,2],sep="::")
print("unique User_ID is : " , dataframe["user_id"].unique())
print("unique Item_ID is : " , dataframe["item_id"].unique())
print("unique Rating is  : " , dataframe["rating"].unique())
dataframe.head()

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

unique User_ID is :  [   1    2    3 ... 6038 6039 6040]
unique Item_ID is :  [1193  661  914 ... 2845 3607 2909]
unique Rating is  :  [5 3 4 2 1]

   user_id  item_id  rating
0        1     1193       5
1        1      661       3
2        1      914       3
3        1     3408       4
4        1     2355       5

sorting

In [ ]:
dataframe=dataframe.sort_values(["user_id","item_id"],ascending=True,na_position="first" , ignore_index=True)
dataframe

         user_id  item_id  rating
0              1        1       5
1              1       48       5
2              1      150       5
3              1      260       4
4              1      527       5
...          ...      ...     ...
1000204     6040     3683       4
1000205     6040     3703       4
1000206     6040     3735       4
1000207     6040     3751       4
1000208     6040     3819       5

[1000209 rows x 3 columns]

statistics analysis

In [ ]:
dataframe.describe()

            user_id       item_id        rating
count  1.000209e+06  1.000209e+06  1.000209e+06
mean   3.024512e+03  1.865540e+03  3.581564e+00
std    1.728413e+03  1.096041e+03  1.117102e+00
min    1.000000e+00  1.000000e+00  1.000000e+00
25%    1.506000e+03  1.030000e+03  3.000000e+00
50%    3.070000e+03  1.835000e+03  4.000000e+00
75%    4.476000e+03  2.770000e+03  4.000000e+00
max    6.040000e+03  3.952000e+03  5.000000e+00

merge on movie title

1.read file

In [ ]:
drive.mount('/content/gdrive', force_remount=True)
path="/content/gdrive/MyDrive/Data_HZ/papers/neural collaborative filtering/impelement/movies.dat"
dataframe1=pd.read_csv(path , encoding='unicode_escape' , on_bad_lines='skip' , header=None , names=["item_id","movie_name","movie_geners"] , sep="::")
dataframe1

Mounted at /content/gdrive

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

      item_id                          movie_name                  movie_geners
0           1                    Toy Story (1995)   Animation|Children's|Comedy
1           2                      Jumanji (1995)  Adventure|Children's|Fantasy
2           3             Grumpier Old Men (1995)                Comedy|Romance
3           4            Waiting to Exhale (1995)                  Comedy|Drama
4           5  Father of the Bride Part II (1995)                        Comedy
...       ...                                 ...                           ...
3878     3948             Meet the Parents (2000)                        Comedy
3879     3949          Requiem for a Dream (2000)                         Drama
3880     3950                    Tigerland (2000)                         Drama
3881     3951             Two Family House (2000)                         Drama
3882     3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

merge

In [ ]:
dataframe2=pd.merge(dataframe,dataframe1,on="item_id")
dataframe2.head()

   user_id  item_id  rating        movie_name                 movie_geners
0        1        1       5  Toy Story (1995)  Animation|Children's|Comedy
1        6        1       4  Toy Story (1995)  Animation|Children's|Comedy
2        8        1       4  Toy Story (1995)  Animation|Children's|Comedy
3        9        1       5  Toy Story (1995)  Animation|Children's|Comedy
4       10        1       5  Toy Story (1995)  Animation|Children's|Comedy

Favorite

In [ ]:
dataframe2.describe()

            user_id       item_id        rating
count  1.000209e+06  1.000209e+06  1.000209e+06
mean   3.024512e+03  1.865540e+03  3.581564e+00
std    1.728413e+03  1.096041e+03  1.117102e+00
min    1.000000e+00  1.000000e+00  1.000000e+00
25%    1.506000e+03  1.030000e+03  3.000000e+00
50%    3.070000e+03  1.835000e+03  4.000000e+00
75%    4.476000e+03  2.770000e+03  4.000000e+00
max    6.040000e+03  3.952000e+03  5.000000e+00

In [ ]:
favorite=pd.DataFrame(dataframe2.groupby("movie_name")["item_id"].mean())
favorite["number"]=dataframe2.groupby("movie_name")["item_id"].count()
favorite

                                            item_id  number
movie_name
$1,000,000 Duck (1971)                       2031.0      37
'Night Mother (1986)                         3112.0      70
'Til There Was You (1997)                     779.0      52
'burbs, The (1989)                           2072.0     303
...And Justice for All (1979)                3420.0     199
...                                             ...     ...
Zed & Two Noughts, A (1985)                  3223.0      29
Zero Effect (1998)                           1845.0     301
Zero Kelvin (KjÃ¦rlighetens kjÃ¸tere) (1995)   1364.0       2
Zeus and Roxanne (1997)                      1426.0      23
eXistenZ (1999)                              2600.0     410

[3706 rows x 2 columns]

max number for rating

In [ ]:
favorite=favorite.sort_values("number",ascending=False)
favorite

                                                    item_id  number
movie_name
American Beauty (1999)                               2858.0    3428
Star Wars: Episode IV - A New Hope (1977)             260.0    2991
Star Wars: Episode V - The Empire Strikes Back ...   1196.0    2990
Star Wars: Episode VI - Return of the Jedi (1983)    1210.0    2883
Jurassic Park (1993)                                  480.0    2672
...                                                     ...     ...
Target (1995)                                         139.0       1
I Don't Want to Talk About It (De eso no se hab...    584.0       1
An Unforgettable Summer (1994)                        790.0       1
Never Met Picasso (1996)                             1714.0       1
Full Speed (1996)                                    1724.0       1

[3706 rows x 2 columns]

In [ ]:
favorite1=pd.DataFrame(dataframe2.groupby("movie_geners")["item_id"].mean())
favorite1["number"]=dataframe2.groupby("movie_geners")["item_id"].count()
favorite1

                                                   item_id  number
movie_geners
Action                                         2445.770855   12311
Action|Adventure                               1433.903312   10446
Action|Adventure|Animation                     3000.000000     345
Action|Adventure|Animation|Children's|Fantasy   558.000000     135
Action|Adventure|Animation|Horror|Sci-Fi        610.000000     618
...                                                    ...     ...
Sci-Fi|Thriller|War                            2287.000000     280
Sci-Fi|War                                      750.000000    1367
Thriller                                       2498.818946   17851
War                                            2448.559031     991
Western                                        1962.151696    5689

[301 rows x 2 columns]

max number for rating

In [ ]:
favorite1=favorite.sort_values("number",ascending=False)
favorite1

                                                    item_id  number
movie_name
American Beauty (1999)                               2858.0    3428
Star Wars: Episode IV - A New Hope (1977)             260.0    2991
Star Wars: Episode V - The Empire Strikes Back ...   1196.0    2990
Star Wars: Episode VI - Return of the Jedi (1983)    1210.0    2883
Jurassic Park (1993)                                  480.0    2672
...                                                     ...     ...
Jar, The (Khomreh) (1992)                             758.0       1
Foolish (1999)                                       2584.0       1
Slappy and the Stinkers (1998)                       1843.0       1
For Ever Mozart (1996)                               1579.0       1
Full Speed (1996)                                    1724.0       1

[3706 rows x 2 columns]

# **user_item**

![image.png]()

In [ ]:
user_item_ui=dataframe2.pivot_table(index="user_id", columns="movie_name",values="rating")
user_item_ui

movie_name  $1,000,000 Duck (1971)  ...  eXistenZ (1999)
user_id                             ...
1                              NaN  ...              NaN
2                              NaN  ...              NaN
3                              NaN  ...              NaN
4                              NaN  ...              NaN
5                              NaN  ...              NaN
...                            ...  ...              ...
6036                           NaN  ...              2.0
6037                           NaN  ...              NaN
6038                           NaN  ...              NaN
6039                           NaN  ...              NaN
6040                           NaN  ...              NaN

[6040 rows x 3706 columns]

optimal

In [ ]:
user_item_ui=user_item_ui.fillna(0)
user_item_ui

movie_name  $1,000,000 Duck (1971)  ...  eXistenZ (1999)
user_id                             ...
1                              0.0  ...              0.0
2                              0.0  ...              0.0
3                              0.0  ...              0.0
4                              0.0  ...              0.0
5                              0.0  ...              0.0
...                            ...  ...              ...
6036                           0.0  ...              2.0
6037                           0.0  ...              0.0
6038                           0.0  ...              0.0
6039                           0.0  ...              0.0
6040                           0.0  ...              0.0

[6040 rows x 3706 columns]

#1.generate zeros user_item matrix

In [ ]:
mx_user=dataframe["user_id"].max()+1
mx_item=dataframe["item_id"].max()+1
user_item=np.zeros((mx_user,mx_item))

#2.generate user_item matrix

In [ ]:
for i in range(mx_user):
   slice1=[]
   slice1=dataframe[dataframe['user_id'] == i]
   slice1=slice1["item_id"]
   slice1=slice1.values
   for select_item in slice1:
     user_item[i,select_item]=1

#3.convert user_item matrix to DataFrame

In [ ]:
user_item=pd.DataFrame(data=user_item)
user_item

      0     1     2     3     4     5     ...  3947  3948  3949  3950  3951  3952
0      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
1      0.0   1.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
...    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
6036   0.0   0.0   0.0   0.0   1.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
6037   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
6038   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
6039   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
6040   0.0   1.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[6041 rows x 3953 columns]

#4.edit user_item DataFrame

In [ ]:
user_item=user_item.iloc[1:,1:]
user_item

      1     2     3     4     5     6     ...  3947  3948  3949  3950  3951  3952
1      1.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4      0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
5      0.0   0.0   0.0   0.0   0.0   1.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
...    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
6036   0.0   0.0   0.0   1.0   0.0   1.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
6037   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
6038   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
6039   0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
6040   1.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0

[6040 rows x 3952 columns]

#Neural Collaborative Filtering

![image.png]()

[What is model and neurons in deep learning](https://playground.tensorflow.org/#activation=relu&regularization=L2&batchSize=10&dataset=circle&regDataset=reg-plane&learningRate=0.01&regularizationRate=0.01&noise=0&networkShape=4,4&seed=0.31815&showTestData=false&discretize=false&percTrainData=50&x=true&y=true&xTimesY=false&xSquared=false&ySquared=false&cosX=false&sinX=false&cosY=false&sinY=false&collectStats=false&problem=classification&initZero=false&hideText=false&activation_hide=false)

##1.import library for NCF

In [ ]:
import tensorflow.keras as keras
from tensorflow.keras.layers import (
    Concatenate,
    Dense,
    Embedding,
    Flatten,
    Input,
    Multiply,
)
from tensorflow.keras.models import Model
from tensorflow.keras.regularizers import l2
from typing import List

##2.initial NCF

In [ ]:
def NCF( number_of_users: int,number_of_items: int,latent_dim_mf: int = 4,latent_dim_mlp: int = 32,reg_mf: int = 0,reg_mlp: int = 0.01,dense_layers: List[int] = [12, 8],reg_layers: List[int] = [0.01, 0.01],activation_dense: str = "relu",) -> keras.Model:

    # input layer
    user = Input(shape=(), dtype="int32", name="user_id")
    item = Input(shape=(), dtype="int32", name="item_id")

    # embedding layers
    mf_user_embedding = Embedding(
        input_dim=number_of_users,
        output_dim=latent_dim_mf,
        name="mf_user_embedding",
        embeddings_initializer="RandomNormal",
        embeddings_regularizer=l2(reg_mf),
        input_length=1,
    )
    mf_item_embedding = Embedding(
        input_dim=number_of_items,
        output_dim=latent_dim_mf,
        name="mf_item_embedding",
        embeddings_initializer="RandomNormal",
        embeddings_regularizer=l2(reg_mf),
        input_length=1,
    )

    mlp_user_embedding = Embedding(
        input_dim=number_of_users,
        output_dim=latent_dim_mlp,
        name="mlp_user_embedding",
        embeddings_initializer="RandomNormal",
        embeddings_regularizer=l2(reg_mlp),
        input_length=1,
    )
    mlp_item_embedding = Embedding(
        input_dim=number_of_items,
        output_dim=latent_dim_mlp,
        name="mlp_item_embedding",
        embeddings_initializer="RandomNormal",
        embeddings_regularizer=l2(reg_mlp),
        input_length=1,
    )

    # MF vector
    mf_user_latent = Flatten()(mf_user_embedding(user))
    mf_item_latent = Flatten()(mf_item_embedding(item))
    mf_cat_latent = Multiply()([mf_user_latent, mf_item_latent])

    # MLP vector
    mlp_user_latent = Flatten()(mlp_user_embedding(user))
    mlp_item_latent = Flatten()(mlp_item_embedding(item))
    mlp_cat_latent = Concatenate()([mlp_user_latent, mlp_item_latent])

    mlp_vector = mlp_cat_latent

    # build dense layers for model
    for i in range(len(dense_layers)):
        layer = Dense(
            dense_layers[i],
            activity_regularizer=l2(reg_layers[i]),
            activation=activation_dense,
            name="layer%d" % i,
        )
        mlp_vector = layer(mlp_vector)

    predict_layer = Concatenate()([mf_cat_latent, mlp_vector])

    result = Dense(
        1, activation="sigmoid", kernel_initializer="lecun_uniform", name="interaction"
    )

    output = result(predict_layer)

    model = Model(
        inputs=[user, item],
        outputs=[output],
    )

    return model

##train test

In [ ]:
dataframe3=dataframe

In [ ]:
dataframe3=dataframe["rating"]>=1
dataframe3 = dataframe3.astype(int)
dataframe3

0          1
1          1
2          1
3          1
4          1
          ..
1000204    1
1000205    1
1000206    1
1000207    1
1000208    1
Name: rating, Length: 1000209, dtype: int64

In [ ]:
dataframe["rating"]=dataframe3
dataframe

         user_id  item_id  rating
0              1        1       1
1              1       48       1
2              1      150       1
3              1      260       1
4              1      527       1
...          ...      ...     ...
1000204     6040     3683       1
1000205     6040     3703       1
1000206     6040     3735       1
1000207     6040     3751       1
1000208     6040     3819       1

[1000209 rows x 3 columns]

In [ ]:
array=dataframe.values
predict=array[:,2]
train=array[:,:2]
predict

array([1, 1, 1, ..., 1, 1, 1])

compile

In [ ]:
from tensorflow.keras.optimizers import Adam
import tensorflow as tf

ncfmodel = NCF(mx_user, mx_item)

ncfmodel.compile(
    optimizer=Adam(),
    loss="binary_crossentropy",
    metrics=["accuracy"]
)
ncfmodel.summary()

Model: "model"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 user_id (InputLayer)           [(None,)]            0           []

 item_id (InputLayer)           [(None,)]            0           []

 mlp_user_embedding (Embedding)  (None, 32)          193312      ['user_id[0][0]']

 mlp_item_embedding (Embedding)  (None, 32)          126496      ['item_id[0][0]']

 flatten_2 (Flatten)            (None, 32)           0           ['mlp_user_embedding[0][0]']

 flatten_3 (Flatten)            (None, 32)           0           ['mlp_item_embedding[0][0]']

 mf_user_embedding (Embedding)  (None, 4)            24164       ['user_id[0][0]']

 mf_item_embedding (Embedding)  (None, 4)            15812       ['item_id[0][0]']

 concatenate (Concatenate)      (None, 64)           0           ['flatten_2[0][0]',
                                                                  'flatten_3[0][0]']

 flatten (Flatten)              (None, 4)            0           ['mf_user_embedding[0][0]']

 flatten_1 (Flatten)            (None, 4)            0           ['mf_item_embedding[0][0]']

 layer0 (Dense)                 (None, 12)           780         ['concatenate[0][0]']

 multiply (Multiply)            (None, 4)            0           ['flatten[0][0]',
                                                                  'flatten_1[0][0]']

 layer1 (Dense)                 (None, 8)            104         ['layer0[0][0]']

 concatenate_1 (Concatenate)    (None, 12)           0           ['multiply[0][0]',
                                                                  'layer1[0][0]']

 interaction (Dense)            (None, 1)            13          ['concatenate_1[0][0]']

==================================================================================================
Total params: 360,681
Trainable params: 360,681
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive